/*Resting method */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Resting method */

/* globa */
* {
    font-family: 'Public Sans', sans-serif;
}

body {
    font-family: 'Public Sans', sans-serif;
}

/* global */
/* headder */
header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
}

.ikon {
    width: 150px;
    height: 20px;
    background-image: url("./images/logo.svg");
    background-repeat: no-repeat;

}

.navigation {
    font-weight: 300;
    display: flex;
    gap: 3vw;
    color: hsl(233, 8%, 62%);
}

.navigation li {
    line-height: 10px;
    padding: 29px 0px;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, rgb(111, 199, 111), cyan);
}

.navigation li a:hover {
    cursor: pointer;
    border-bottom: 4px solid rgb(111, 199, 111);
    padding-bottom: 24px;
}

.header-button,
.section1-button,
.footer-button {
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right, rgb(111, 199, 111), cyan);
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 170px;

}

/* headder end */
/* section1 */
/* .section1 {
    background-color: rgb(241, 241, 241);
    background-image: url('./images/image-mockups.png'), url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right, top right;
    background-position-x: 110vh, 110vh;
    background-position-y: -33vh, -27vh;
    height: 400px;
    overflow-y: visible, hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 100px;
} */

.section1 {
    background-color: rgb(241, 241, 241);
    background-image: url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-position-x: 110vh;
    background-position-y: -27vh;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 100px;
}

.mobiles-img {
    position: absolute;
    background-image: url('./images/image-mockups.png');
    top: 0px;
    width: 635px;
    height: 1000px;
    background-repeat: no-repeat;
    background-position-y: -160px;
    right: 0px;
    /* display: none; */
}

.section1 h1 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    font-size: 70px;
}

.section1 p {
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    line-height: 25px;
}

/* section1 end*/

/* section2 */
.section2 {
    background-color: rgb(236, 236, 236);
    padding: 50px 100px 50px 100px;
}

.section2 h2 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    margin-bottom: 50px;
    font-size: 35px;
}

.section2>p {
    color: hsl(233, 8%, 62%);
    margin-bottom: 60px;
    line-height: 25px;
}

.section2 ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.section2 li {
    color: hsl(233, 8%, 62%);
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 25px;
}



.section2 ul li h4 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    font-size: 30px;
}

.item1-ikon {
    background-image: url('./images/icon-online.svg');
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
}

.item2-ikon {
    background-image: url('./images/icon-budgeting.svg');
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
}

.item3-ikon {
    background-image: url('./images/icon-onboarding.svg');
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
}

.item4-ikon {
    background-image: url('./images/icon-api.svg');
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
}

/* section2 end*/


/* section3 */
.section3 {
    background-color: rgb(241, 241, 241);
    padding: 50px 100px 50px 100px;
}

.section3 ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

}

.section3 h2 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    margin-bottom: 50px;
    font-size: 35px;
}



.items1-image {
    width: 250px;
    height: 170px;
    background-image: url('./images/image-currency.jpg');
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.items2-image {
    width: 250px;
    height: 170px;
    background-image: url('./images/image-restaurant.jpg');
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.items3-image {
    width: 250px;
    height: 170px;
    background-image: url('./images/image-plane.jpg');
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.items4-image {
    width: 250px;
    height: 170px;
    background-image: url('./images/image-confetti.jpg');
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.section3 li {
    background-color: white;
    /* position: relative; */
    color: hsl(233, 8%, 62%);
    width: 250px;
    height: 370px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    border-radius: 10px;
}

.image-content {
    /* background-color: yellow; */
    padding: 20px;
}

.image-content p {
    font-size: 10px;
    padding-bottom: 5px;
}

.image-content h4 {
    font-size: 13px;
    line-height: 20px;

}

.image-content h3 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    line-height: 18px;
    padding-bottom: 15px;
}

.image-content h3:hover {
    color: rgb(111, 199, 111);
    cursor: pointer;
}

/* section 3 end */


/* footer */

footer {
    height: 150px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}

.footer-ikon {
    width: 150px;
    height: 20px;
    color: white;
    background-image: url("./images/logo.svg");
    background-repeat: no-repeat;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bolder;
}

.social-and-logo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social-media {
    display: flex;
    gap: 7px;
}

svg:hover path {
    fill: aqua;
    cursor: pointer;
}

svg {
    cursor: pointer;
}


.footer-button {
    height: 50px;
}

.footer-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    gap: 20px;
}

.footer-container2 p {
    color: hsl(233, 8%, 62%);
    font-size: 15px;
}

.footer-container1 {
    display: flex;
    gap: 10vw;
    flex-wrap: wrap;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(0, 0%, 98%);
}

.career {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(0, 0%, 98%);

}

footer {
    padding: 0px 100px;
}

.ft-hover:hover {
    cursor: pointer;
    color: rgb(111, 199, 111);
}



/* footer end */
/* hidden components for mobile */

.mobile-header {
    display: none;
}

.mobile-section1 {
    display: none;
}

.mobile-footer {
    display: none;
}



/* hidden components for mobile end*/


/* media qurry for mobile */
@media screen and (max-width:1000px) {
    footer {
        display: none;
    }

    .mobile-footer {
        padding: 40px 0px;
        height: 500px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .mobile-footer button {
        display: block;
        float: none;
        margin: 0px;
        position: static;
    }

    .social-media {
        gap: 20px;
    }

    .copyr {
        color: hsl(233, 8%, 62%);
    }
}

@media screen and (max-width:500px) {

    /* header */
    header {
        display: none;
    }

    .mobile-header {
        /* display: block; */
        display: flex;
        justify-content: space-between;
        padding: 30px;
        height: 10px;
    }

    .mobile-header-button {
        border: none;
        background: white;
        position: sticky;
    }

    /* header end*/
    /* section1  */

    .section1 {
        display: none;
    }

    .mobile-section1 {
        display: block;
        padding: 0px 30px;
        padding-bottom: 70px;
        background-color: rgb(241, 241, 241);
        background-image: url("./images/bg-intro-desktop.svg");
        background-size: 800px 700px;
        background-repeat: no-repeat;
        background-position: -130px -420px;

    }


    .mobile-section1-contaiver {
        background-image: url("./images/image-mockups.png");
        background-size: 300px 350px;
        background-repeat: no-repeat;
        background-position: 0px -100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .mobile-section1-contaiver h1 {
        padding-top: 270px;
        font-size: 40px;
    }

    .mobile-section1-contaiver p {
        color: hsl(233, 8%, 62%);
        line-height: 25px;
    }

    /* sectio1 end */

    /* section2 */
    .section2 {
        padding: 70px 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section2 h2 {
        font-size: 30px;
        text-align: center;
    }

    .section2 ul {
        flex-direction: column;
        align-items: center;
        /* image-content */
    }

    .section2 li {
        align-items: center;
        width: 100%;
        height: 250px;
    }

    /* section2 end  */

    /* section3 */
    .section3 {
        padding: 70px 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section3 h2 {
        font-size: 30px;
        text-align: center;
    }

    .section3 ul {
        flex-direction: column;
        align-items: center;
    }

    .section3 li {
        align-items: center;
        width: 100%;
    }

    .items1-image,
    .items2-image,
    .items3-image,
    .items4-image {
        width: 100%;
    }

    /* section3 end */


    /* footer */

    footer {
        display: none;
    }

    .mobile-footer {
        padding: 40px 0px;
        height: 500px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .mobile-footer button {
        display: block;
        float: none;
        margin: 0px;
        position: static;
    }

    .social-media {
        gap: 20px;
    }

    .copyr {
        color: hsl(233, 8%, 62%);
    }

    .mobile-footer p a:hover {
        cursor: pointer;
        color: rgb(111, 199, 111);
    }




    /* footer end   */
}



/* media qurry for mobile end*/

@media screen and (max-width:1235px) {
    .mobiles-img {
        display: none;
    }
}